<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Menshen</title>
    <script src="https://kit.fontawesome.com/4f9d03a080.js" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>


    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/mystyle.css">

    <style>
        [v-cloak] {
            display: none;
        }
        
        .jumbotron-holder {
            background: url(https://www.w3schools.com/bootstrap4/la.jpg) center;
            background-size: cover;
        }
        
        .jumbotron {
            z-index: 2;
            background: rgb(231, 231, 231);
            border-radius: 20px !important
        }
    </style>

</head>

<body>
    <div id="app">
        <section class="hero is-primary is-fullheight  has-bg-img ">
            <div class="hero-body" id="loginForm">
                <div class="container">
                    <div class="columns is-vcentered">

                        <div class="column">
                            <h1 class="title">
                                Menshen
                            </h1>
                            <h2 class="subtitle">
                                Login/Register
                            </h2>
                        </div>
                        <div class="column ">
                            <form action="" @submit.prevent="login">

                                <div class="field">
                                    <div class="control has-icons-left">
                                        <input class="input" type="email" name="email" v-model="inputEmail" id="email" placeholder="Email">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>

                                </div>
                                <div class="field">
                                    <div class="columns ">
                                        <div class="column">
                                            <div class="control has-icons-left">
                                                <input class="input" type="password" name="password" v-model="inputPassword" id="password" placeholder="Password">
                                                <span class="icon is-small is-left">
                                                    <i class="fa fa-lock"></i>
                                                </span>

                                            </div>
                                        </div>


                                    </div>



                                </div>
                                <div class="is-inline">
                                    <button type="submit" class="button is-primary
                                        is-pulled-right">Login </button>

                                    <button class="button is-text
                                        is-pulled-right">Not a customer yet? </button>
                                </div>

                            </form>




                        </div>

                    </div>
                </div>

            </div>
    </div>
    </section>
    </div>


    <script src="assets/js/app.js" defer></script>


</body>

</html>